- if params[:controller] == "items"
  %h1= item.title
- else
  =link_to item do
    %h1= item.title

%p
  %strong tags:
  - item.tags.each do |tag|
    - #TODO Add link to the tag
    %span.badge
      %i.icon-tag
        = tag

.well
  :markdown
    #{item.source}
