%h1= link_to item_header.title, item_header
%ul
  %li
    %span author:
    %span= link_to item_header.user.email, item_header.user
  %li created at: #{item_header.created_at}
  %li #{item_header.stocked_users.count} times stocked
