%h3= link_to item_header.title, item_header
%ul
  %li
    %span author:
    %span= link_to item_header.user.email, item_header.user
  %li update at: #{item_header.updated_at}
  %li #{item_header.stocked_users.count} users stocked
