/.bundle
/vendor/bundle
/db/*.sqlite3
/log/*.log
/tmp
/public/system/*
/public/assets

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rvmrc
/coverage/
**.orig
/spec/tmp/*
rerun.txt
pickle-email-*.html
.project

set_env.sh
