- content_for :sidebar do
  = render partial: "sidebar", locals: {user: @user}

.page-header
  %h1
    %span= login? && @user == current_user ? "Your followers" : "Followers"
    %small= @user.email

= render partial: "share/user_table", locals: {users: @user.followers}
