- content_for :sidebar do
  = render partial: "sidebar"

.alert.fade.in#notice-area{style: "display: none"}
  %button.close{data: {dismiss: "alert"}} &times;

.page-header
  %h1
    %span= @tag.name

= render partial: "share/item_header", collection: @items, spacer_template: "share/item_spacer"

= paginate @items
