- content_for :sidebar do
  = render partial: "sidebar"

.alert.fade.in#notice-area{style: "display: none"}
  %button.close{data: {dismiss: "alert"}} &times;

%h1= @tag.name
%hr

= render partial: "share/item_header", collection: @tag.items, spacer_template: "share/item_spacer"
