// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
  .wrap {
    padding: 4px;
    margin: 10px auto;
    background-color: #eee;
    border-radius: 3px;
  }

  .content {
    border: 1px solid #ccc;
    background-color: #fefefe;
    padding: 15px;
  }
}

.btn-separate {
  margin: {
    left: 5px;
    right: 5px;
  }
}
